/* Colors */
$blackColor: #252d25;

/* Sizes */
$padding: 20px;
$border-radius: 8px;

/* Breakpoints */
$phone: 320px;
$smartphone: 420px;
$tablet: 768px;
$landescape: 992px;
$suppdesktop: 1280px;
$limiter: 1400px;
$desktop: 1920px;